body {
    font-family: 'Arial', Helvetica, sans-serif;
    background-color: darkblue;
    color: white;
}
h1 {
    color: yellow;
}

/* Attribute Selector */

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: orange;
}

/* Child Selector */
ul> li {
    font-weight: bold;
}

/* Sibling Selector */
h1 + p {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

/* :hover Pseudo-class */
ul li:nth-child(3) {
    background-color: grey;
}

/* :not(selector) Pseudo-class */
p:not(:first-of-type) {
    text-decoration: underline;
}

/* ::after Pseudo-element */
ul li::before {
    content: "🚀"
}

/* :: after Pseudo-element */
a::after {
    content: "🌌"
}

/* ::first-letter Pseudo-element */
p::first-letter {
    font-size: 200%;
    color: pink;
}

